<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAvhn6vfkrvnhuV9YWn9wjR3g-ptFwX1d0</string>
	<key>GCM_SENDER_ID</key>
	<string>68942897303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SmartAisle.SmartAisle</string>
	<key>PROJECT_ID</key>
	<string>smartisle-a4e05</string>
	<key>STORAGE_BUCKET</key>
	<string>smartisle-a4e05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:68942897303:ios:8ce511af4ea1aae3b849d2</string>
</dict>
</plist>